<!DOCTYPE html>
<html>
<head>
  <title>Breon Knight</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600italic|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar-fixed">
    <nav class="blue">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Breon Knight</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <% if current_admin %>
            <li><%= link_to 'Blog', blog_path %></li>
            <li><%= link_to 'New Blog Post', new_blog_path %></li>
            <li><%= link_to 'About', about_path %></li>
            <li><%= link_to 'Portfolio', portfolio_path %></li>
            <li><%= link_to "Log Out", logout_path %></li>
          <% else %>
            <li><%= link_to 'Blog', blog_path %></li>
            <li><%= link_to 'About', about_path %></li>
            <li><%= link_to 'Portfolio', portfolio_path %></li>
            <li><a href="/BreonKnightResume.pdf">Resume</a></li>
</li>
          <% end %>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <% if current_admin %>
          <li><%= link_to 'Blog', blog_path %></li>
          <li><%= link_to 'New Blog Post', new_blog_path %></li>
          <li><%= link_to 'About', about_path %></li>
          <li><%= link_to 'Portfolio', portfolio_path %></li>
          <li><%= link_to "Log Out", logout_path %></li>
        <% else %>
          <li><%= link_to 'Blog', blog_path %></li>
          <li><%= link_to 'About', about_path %></li>
          <li><%= link_to 'Portfolio', portfolio_path %></li>
          <li><a href="/BreonKnightResume.pdf">Resume</a></li>
</li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>

  <% flash.each do |name, msg| %>
    <p>
      <small> <%= name.capitalize %>: <%= msg %> </small>
    </p>
  <% end %>
<main>

  <%= yield %>
</main>
  <footer class="page-footer blue">
    <div class="container">
      <div class="row">
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text"> Connect with Me <small></small></h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://github.com/BreonKnight"><i class="fa fa-github fa-2x"></i> Github</a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/brekni"><i class="fa fa-linkedin fa-2x"></i> LinkedIn</a></li>
            <li><a class="grey-text text-lighten-3" href="mailto:breonknight7@gmail.com?Subject=Hi,%20Breon" target="_top"><i class="fa fa-envelope fa-2x"></i> Email Me</a></li>
            <li><a class="grey-text text-lighten-3" href="https://soundcloud.com/illusiveness"><i class="fa fa-soundcloud fa-2x"></i> Soundcloud</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2016 Breon Knight
      </div>
    </div>
  </footer>
</body>
</html>
